/* You can add global styles to this file, and also import other style files */
/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Customize Angular Material theme colors */
.mat-color-primary {
  background: #3f51b5;
  color: #fff;
}

.mat-color-accent {
  background: #ff4081;
  color: #fff;
}

.mat-color-warn {
  background: #f44336;
  color: #fff;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

