<div class="fixed flex flex-col justify-between" style="width: 320px">
  <div
    class="sidebar px-5 pt-10 flex flex-col bg-dark-soft h-screen text-slate-300 font-sans w-full"
  >
    <!-- Home -->

    <a
      class="flex items-center mb-3 p-2 hover:bg-slate-700 rounded-lg" (click)="selectGroupType('')"
      [routerLink]="['/feed']"
    >
      <mat-icon class="mr-2">home</mat-icon>
      <span class="align-middle" >Home</span>
    </a>

    <!-- Search -->
    <a
      class="flex items-center mb-3 p-2 hover:bg-slate-700 rounded-lg"
      [routerLink]="['/search']"
    >
      <mat-icon class="mr-2">search</mat-icon>
      <span>Search</span>
    </a>

    <!-- Top Contributers -->
    <a
      matTooltip="Soon"
      matTooltipPosition="above"
      class="flex items-center mb-4 p-2 hover:bg-slate-700 rounded-lg cursor-not-allowed"
    >
      <mat-icon class="mr-2">people</mat-icon>
      <span>Top Contributers</span>
    </a>

    <!-- Reviews -->
    <mat-expansion-panel class="w-full" [expanded]="panelOpenState" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-icon>rate_review</mat-icon>
        <span>Reviews</span>
      </mat-expansion-panel-header>
      <mat-nav-list (click)="navigateToFeed()">
        <a mat-list-item class="rounded-3xl" (click)="selectGroupType('Game')" [ngClass]="{'active': selectedGroupType === 'Game'}">
          <span>Game</span>
        </a>
        <a mat-list-item class="rounded-3xl"  (click)="selectGroupType('Movie')" [ngClass]="{'active': selectedGroupType === 'Movie'}">
          <span>Movie</span>
        </a>
        <a mat-list-item class="rounded-3xl"  (click)="selectGroupType('Book')" [ngClass]="{'active': selectedGroupType === 'Book'}">
          <span>Book</span>
        </a>
        <a mat-list-item  class="rounded-3xl" (click)="selectGroupType('Anime')" [ngClass]="{'active': selectedGroupType === 'Anime'}">
          <span>Anime</span>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>

    <div class="bg-gradient-to-br from-sky-800 flex justify-center items-center mt-auto mb-5 py-2 rounded-lg">
      <ng-container *ngIf="isAuthenticated; else signIn">
        <div *ngIf="userStatus.includes('ADMIN')" class="flex flex-col items-center">
          <img style="width: 30px;" [src]="adminImg" alt="">
          <p class="text-xs">Admin</p>
        </div>
        <div class="flex items-center py-2 cursor-pointer" (click)="navigateToSettings()">
          <img [src]="userInfo?.profilePictureUrl" alt="user" class="w-12 h-12 rounded-full mr-2">
          <div class="nameSettings">
            <span class="text-lg font-mono">{{ userInfo?.name?userInfo.name:userInfo.username }}</span>
            <p class="text-xs">Account Settings</p>
          </div>
        </div>
      </ng-container>
      <ng-template #signIn>
        <a mat-button [routerLink]="['/auth']" class="px-32">
          <span class="text-white text-lg hover:text-slate-300">Authenticate</span>
        </a>
      </ng-template>
    </div>

  </div>
</div>
