<div class="flex justify-center items-center h-screen bg-sky-300">
  <div *ngIf="!askForUserName">
    <mat-card id="auth" class="w-full max-w-md p-6 md:p-11">
      <h1 class="text-center pb-5 md:pb-10 text-xl md:text-2xl text-gray-800">
        Review
      </h1>
      <div class="loadingSpinner" *ngIf="isLoading">
        <mat-spinner diameter="40" class="mx-auto"></mat-spinner>
      </div>
      <form
        #authForm="ngForm"
        (ngSubmit)="onSubmit(authForm)"
        *ngIf="!isLoading"
      >
      <h1 *ngIf="user">{{user.name}}</h1>
        <div *ngIf="errorMessage" class="text-red-500 text-center mb-3">
          {{ errorMessage }}
        </div>
        <mat-form-field class="w-full">
          <input
            matInput
            type="email"
            id="email"
            ngModel
            required
            name="email"
            placeholder="Email"
          />
        </mat-form-field>
        <mat-form-field class="w-full mt-2">
          <input
            matInput
            [type]="changetype ? 'text' : 'password'"
            name="password"
            id="password"
            required
            ngModel
            minlength="4"
            placeholder="Password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="viewpassword()"
          >
            <mat-icon>{{ visible ? "visibility" : "visibility_off" }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="actionButtons mt-3 md:mt-4 flex flex-col items-center">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? "Login" : "Sign Up" }}
          </button>
          <p class="mt-2 text-center md:mt-3 text-gray-600">
            Switch to
            <span (click)="onSwitchMode()" class="text-sky-400 cursor-pointer">
              {{ isLoginMode ? "Sign Up" : "Login" }}
            </span>
          </p>
          <p class="mt-2 text-center md:mt-3 text-gray-600">Authenticate via</p>
          <asl-google-signin-button
            text="signin_with"
            size="medium"
          ></asl-google-signin-button>
        </div>
      </form>
    </mat-card>
  </div>
  <!-- Username -->
  <div *ngIf="askForUserName">
    <form
        #authForm="ngForm"
        (ngSubmit)="onSubmit(authForm)"
        *ngIf="!isLoading">
        <h2>Create Username</h2>
        <p>The selected username will be public</p>
        <mat-form-field class="w-full">
          <input
            matInput
            type="text"
            id="username"
            ngModel
            required
            name="username"
            placeholder="Username"
          />
        </mat-form-field>
        <button
            mat-raised-button
            color="primary"
            [disabled]="!authForm.valid"
          >
            Submit
          </button>
      </form>
  </div>
</div>
