h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}
.fontTitle{
  font-size: 30px;
}
.custom-spinner{
  width: 40px!important;
}
:host /deep/ angular-editor#myEditor .angular-editor-button[title="Insert Image"]{
  display: none
  }
