<div class="flex text-white h-full bg-dark" id="container">
  <div class="w-1/4">
    <!-- Sidebar component -->
    <app-sidebar></app-sidebar>
  </div>
  <div class="flex flex-col w-3/5 mx-auto my-auto">
    <h2>Create new Review</h2>
    <form (ngSubmit)="submitReview()" [formGroup]="createReviewForm">
      <!-- Review Name -->
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput placeholder="Your Review title" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Group Type</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          [formControl]="groupTypeControl"
          matInput
          [matAutocomplete]="groupTypeAuto"
          required
        />

        <mat-autocomplete #groupTypeAuto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Art</mat-label>
        <input
          matInput
          placeholder="Pick or type new"
          [formControl]="artControl"
          [matAutocomplete]="artAuto"
          required
        />
        <mat-autocomplete #artAuto="matAutocomplete">
          <mat-option *ngFor="let art of filteredArts | async" [value]="art">
            {{ art }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <!-- Tags -->
      <mat-form-field class="tagField">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid aria-label="Tag selection">
          <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)">
            {{tag}}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="New Tags..." #tagInput [formControl]="tagCtrl"
          [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- <app-markdown-editor [(ngModel)]="markdownContent"></app-markdown-editor> -->

      <!-- <mat-form-field>
        <mat-label>Images</mat-label>
        <input type="file" (change)="onFileSelected($event)" multiple>
      </mat-form-field>

      <app-rating [(ngModel)]="selectedRating"></app-rating>

      <button mat-raised-button type="submit">Submit Review</button> -->
    </form>
  </div>
</div>
