h1 {
  font-size: 24px; /* Change this to your desired font size */
}

h2 {
  font-size: 20px; /* Change this to your desired font size */
}

h3 {
  font-size: 18px; /* Change this to your desired font size */
}
.fontTitle{
  font-size: 30px;
}
