<div *ngIf="reviewData" class="review-details p-4">
  <h2 class="text-2xl font-semibold">{{ reviewData.name }}</h2>

  <div class="reviewData-info mt-4">
    <div class="flex items-center text-gray-600 mb-2">
      <strong class="mr-2">Author:</strong>
      <span>{{ reviewData.authorId }}</span>
    </div>
    <div class="flex items-center text-gray-600 mb-2">
      <strong class="mr-2">Group:</strong>
      <span>{{ reviewData.group }}</span>
    </div>
    <div class="flex items-center text-gray-600 mb-2">
      <strong class="mr-2">Author Rating:</strong>
      <span>{{ reviewData.authorRate }}</span>
    </div>
    <div class="flex items-center text-gray-600 mb-2">
      <strong class="mr-2">Created Date:</strong>
      <span>{{ reviewData.createDate }}</span>
    </div>
  </div>

  <div class="reviewData-content mt-4">
    <img [src]="reviewData.coverImage" alt="{{ reviewData.name }}" class="w-full h-auto mb-4" />
    <div class="art" [innerHTML]="reviewData.art"></div>
    <div class="content">{{ reviewData.content }}</div>
  </div>

  <div class="reviewData-tags mt-4">
    <strong class="mr-2">Tags:</strong>
    <ul class="list-disc list-inside">
      <li *ngFor="let tag of reviewData.tags" class="mb-1">{{ tag }}</li>
    </ul>
  </div>

  <div class="reviewData-footer mt-4 text-gray-600">
    <p>{{ reviewData.timeAgo }}</p>
  </div>
</div>
