<div class="container mx-auto mt-8">
  <h2 class="text-2xl font-semibold mb-5 mx-32 text-white text-3xl">
    Latest by <span class="underline">{{ userInfo }}</span>
  </h2>

  <ng-container *ngIf="reviews.length > 0; else noReviews">
    <div
      *ngFor="let review of reviews"
      class="bg-slate-300 shadow-lg rounded-lg overflow-hidden my-5 cursor-pointer mx-32 flex flex-row-reverse items-center"
      (click)="navigateToReviewDetails(review)"
    >
      <img
        src="{{ review.coverImage }}"
        alt="{{ review.name }}"
        class="w-full h-48 object-cover flex-1 rounded-l-full"
      />
      <div class="px-6 py-4 flex-1">
        <div class="font-semibold text-xl mb-2">{{ review.name }}</div>
        <div class="flex items-center text-gray-700 text-sm space-x-2">
          <span class="flex items-center bg-gray-200 rounded-xl px-3 py-1">
            <mat-icon class="icon-display text-blue-600">workspaces</mat-icon>
            {{ review.group }}
          </span>
          <span class="flex items-center bg-gray-200 rounded-xl px-3 py-1">
            <mat-icon class="icon-display text-yellow-500">star</mat-icon>
            {{ review.authorRate }}
          </span>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- No reviews message -->
  <ng-template #noReviews>
    <p class="text-gray-500 mx-32">No reviews found for this author.</p>
  </ng-template>
</div>
