<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    style="width: 320px"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="relative">
      <button mat-button (click)="sidenav.toggle()" class="absolute text-xs r-5 px-4 py-1 bg-dark-soft text-white rounded-r-3xl hover:bg-blue-600" style="color: white;">
        <mat-icon>menu</mat-icon>
        Menu
      </button>
      <div
        *ngFor="let review of reviews">
        
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>
