.custom-button {
  background-color: #1976d2; /* Change this to your desired background color */
  color: white; /* Change this to your desired text color */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  /* Add hover effect */
  &:hover {
    background-color: #1565c0; /* Change this to your desired hover background color */
  }
}

.feed-container{
  max-width:700px;
}
