.custom-button {
  background-color: #1976d2; /* Change this to your desired background color */
  color: white; /* Change this to your desired text color */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  /* Add hover effect */
  &:hover {
    background-color: #1565c0; /* Change this to your desired hover background color */
  }
}

.feed-container {
  max-width: 700px;
}
.icon-display {
  transform: scale(0.7);
}
.active {
  background: rgb(73, 61, 245);
  background: linear-gradient(
    90deg,
    rgba(73, 61, 245, 0.8590029761904762) 0%,
    rgba(6, 123, 159, 0.7357536764705883) 99%
  );
}
